<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Allow /deploy/iis for everyone -->
        <rule name="AllowDeployIIS" stopProcessing="true">
          <match url="^deploy/iis$" />
          <action type="Rewrite" url="http://localhost:{{ .Port }}/deploy/iis" />
        </rule>
        <!-- Allow all other paths only from localhost -->
        <rule name="AllowLocalhostOnly" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REMOTE_ADDR}" pattern="^127\.0\.0\.1$|^\:\:1$" />
          </conditions>
          <action type="Rewrite" url="http://localhost:{{ .Port }}/{R:1}" />
        </rule>
        <!-- Deny all other requests -->
        <rule name="DenyAllOthers" stopProcessing="true">
          <match url="(.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
        </rule>
      </rules>
    </rewrite>
    <proxy enabled="true" preserveHostHeader="true" />
  </system.webServer>
</configuration>